.container
  .row
    .col-md-12
      .card
        .card-block
          .media
            .media-left
              = image_tag current_user.gravatar_url, class: 'img-circle'
            .media-body
              %h4.media-heading
                = current_user.name
              = current_user.organization
              - if !current_user.team.nil?
                = "- #{current_user.team}"

  .row
    .col-md-12
      - unless current_user.last_felt_on.try(:today?)
        = render 'moods/form'
      - else
        .alert.alert-info
          You have already filled your mood for today.

  .row
    .col-md-12
      .card
        .card-block
          %h4.card-title
            History
            - unless current_user.team.nil?
              for team
              = current_user.team.name
          = area_chart @presented_moods
