.container
  .row
    .col-md-12
      .card
        .card-block
          .media
            .media-left
              = image_tag current_user.gravatar_url, class: 'img-circle'
            .media-body
              %h4.media-heading
                = current_user.name
              = current_user.organization
              - if !current_user.team.nil?
                = "- #{current_user.team}"

  - unless current_user.last_felt_on.try(:today?)
    .row
      .col-md-12
        = render 'moods/form'

  .row
    .col-md-12
      .card
        .card-block
          %h4.card-title
            History
          = area_chart @moods
          - if current_user.team
            %h3
              For team
              = current_user.team.name
            = area_chart @moods_for_team
          %dl
            - @moods.each do |date, moods|
              %dd= date.to_s
              %dt= moods
