= form_for @organization do |f|
  - if @organization.errors.any?
    #error_explanation.alert.alert-error
      %h2= "#{pluralize(@org.errors.count, "error")} prohibited this org from being saved:"
      %ul
        - @organization.errors.full_messages.each do |msg|
          %li= msg
  %fieldset.form-group
    = f.label :name
    = f.text_field :name, class: 'form-control', placeholder: 'Enter the name of the organization'
  = f.submit 'Save', class: 'btn btn-primary'
