.container

  %table.table.table-sm.table-hover
    %thead
      %tr
        %th Name
        %th
        %th
        %th
    %tbody
      - @organizations.each do |organization|
        %tr
          %td= organization.name
          %td= link_to 'Show', organization
          %td= link_to 'Edit', edit_organization_path(organization)
          %td= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' }

  = link_to 'New organization', new_organization_path
